body {
background-color : purple;
color : dodgerblue;
}

h1{
	font-family: 'Chicle', cursive;
}
h3{
	font-family: 'Open Sans', sans-serif;
}
li{
	font-family: 'Lobster', cursive;
}
p{
	font-family: 'Lobster', cursive;
}

.container{
	margin: 150px;
}
input[type=submit] {
background-color: dodgerblue;
padding: 20px;
margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
